header {
    margin: left;
    height: 60px;
    font-family: Courier;
    background: rgba(0,0,0,1);
    border-radius: 0;
}
header h1, header h3{
    padding-top: 0;
    padding-left: 10px;
    color: white;
}
header ul li {
    display: inline-block;
    margin-left: 5px;
    color: white;
}

#profile-photo {
    background: url("../images/Karen photo.jpg");
    background-size: 92%;
    opacity: 1.0;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 10px solid black;
    position: absolute;
    top: 20px;
    right: 50px;
}

body {
    font-family: Courier;
    color: black;
    background: rgba(241, 196, 15,1.0);
}

h2 h3{
    color: black;
}

.hero-unit {
    margin: 20px auto 0 auto;
    width: 900px;
    padding: 40px;
    border-radius: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

td p {
    text-align: left;
    padding: 5px;
}

td {
    width: 25%;
    height: 25%;
    vertical-align: text-top;
    text-align: center;
    padding: 5px;
}

td.w_hub {
    background: rgba(52, 152, 219,1.0);
    
}
td.web_dev {
    background: rgba(22, 160, 133,1.0);
}
#ga_logo {
    background: url("../images/GA logo.png") no-repeat;
    background-position: right;
    background-size: 100%;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    margin: 0;
    float: left;
}
td.languages {
    background: rgba(142, 68, 173,1.0);   
}
td.project {
    background: rgba(231, 76, 60,1.0);
}
td.project_random {
    background: url("../images/Flat design desktop.jpg") no-repeat;
    background-size: 100%;
    background-position: top;
}
td.project_tictactoe {
    background: url("../images/tic tac toe.jpg") no-repeat;
    background-size: cover;
}
td.project_new {
    background: url("../images/Ampoule.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
ul {
    list-style: none;
    line-height: 0;
}

/*Footer*/

ul.social_media {
    text-align: right;
    margin-right: 10px;
}

ul.social_media li {
    display: inline;
    margin-left: 5px;
}
ul.social_media a {
    text-decoration: none;
    display: inline-block;
}
.social_media .LinkedIn, .social_media .GitHub, .social_media .Twitter{
    background: no-repeat;
    background-size: 100%;
    border-radius: 20%;
    height: 50px;
    width: 50px;
}
.social_media .LinkedIn {background: url("../images/LinkedIn d1.png")}
.social_media .Twitter {background: url("../images/Twitter d1.png")}
.social_media .GitHub {background: url("../images/GitHub d1.png")}

footer {
    background: rgba(44, 62, 80,1.0);
    clear: both;
    margin: auto;
    height: 40px;
    font-family: Courier;
    border-radius: 0;
    opacity: 0.8;
}
footer p {
    text-align: right;
    padding: 15px 50px 0 0;
    color: white;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
